* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
}

.main {
  margin-right: 10px;
  margin-left: 10px; 
    border: 1px solid black;
    background-color:green;
    
    height: 150px;
    font-family: Helvetica;
    color: white;
    position: relative;
}

.container {
position: relative;
   background-color:red;
  width: 20%;
}
.top-right {
position: relative;
  border: 1px solid black;
   background-color:blue;
}
 

 
 
